@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.main {
  display: flex;
  align-items: center;
  height: 100ch;
  justify-content: center;
  color: #212121;
  flex-direction: column;
}
.main-header {
  font-family: "Montserrat", sans-serif;
}
.create-form {
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}
